<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>{$title}</title>

<!-- this link will be substituted with the right path : href="THEMES/acid/style.css" -->
<link href="tmp1/view/css/style.css" type="text/css" rel="stylesheet" >
<script type="text/javascript" src="common/library/js/jquery-1.9.1.js"></script>
</head>
<body>
	<!-- this img  will be substituted with the right path : src="THEMES/acid/images.gif" -->			
	<div id="logo">{$head}</div>
	
        
	<!-- content -->
	<div id="content">
	
		{$GLOBALS.global_variable}
	</div>
	
	<div id="footer">{$copyright}</div>

</body>
</html>
